*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    flex-direction: column;
    width: 50vh;

}