*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: yellow;
}

.header{
    background-color: gray;
    text-align: center;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 95vh;
}

.column1{
    width: 33%;
    background-color: rgb(253, 120, 120);
    margin-left: 5px;
}

.column2{
    width: 33%;
    background-color: lightseagreen;
}

.column3{
    width: 33%;
    background-color: plum;
    margin-right: 5px;
}