*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 15vh;
    width: 100vh;
    justify-content: space-between;
}

button{
    display: flex;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 15vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
}